<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimServer.Properties.Server" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SimServer.Properties.Server>
            <setting name="CanAlignMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanAltAz" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanDoesRefraction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CanDualAxisPulseGuide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanEquatorial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanFindHome" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanLatLongElev" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanOptics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanPark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanPulseGuide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSetEquRates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSetDeclinationRate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSetGuideRates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSetPark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSetPierSide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSetRightAscensionRate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSetTracking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSiderealTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSlew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSlewAltAz" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSlewAltAzAsync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSlewAsync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSyncAltAz" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanTrackingRates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanUnpark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApertureArea" serializeAs="String">
                <value>0.269</value>
            </setting>
            <setting name="ApertureDiameter" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="AlignmentMode" serializeAs="String">
                <value>algGermanPolar</value>
            </setting>
            <setting name="AscomOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EquatorialCoordinateType" serializeAs="String">
                <value>equLocalTopocentric</value>
            </setting>
            <setting name="FocalLength" serializeAs="String">
                <value>1.26</value>
            </setting>
            <setting name="Elevation" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="InstrumentName" serializeAs="String">
                <value>Sim Server</value>
            </setting>
            <setting name="InstrumentDescription" serializeAs="String">
                <value>Simulator Telescope Server</value>
            </setting>
            <setting name="Latitude" serializeAs="String">
                <value>28.3558330535889</value>
            </setting>
            <setting name="Longitude" serializeAs="String">
                <value>-81.8272247314453</value>
            </setting>
            <setting name="UTCDateOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VersionOne" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AtPark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoTrack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HourAngleLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="KingRate" serializeAs="String">
                <value>15.0369</value>
            </setting>
            <setting name="LunarRate" serializeAs="String">
                <value>14.685</value>
            </setting>
            <setting name="SiderealRate" serializeAs="String">
                <value>15.041</value>
            </setting>
            <setting name="SolarRate" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Temperature" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MaximumSlewRate" serializeAs="String">
                <value>3.5</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrackingRate" serializeAs="String">
                <value>driveSidereal</value>
            </setting>
            <setting name="GuideRateXPer" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="GuideRateYPer" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="ParkX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ParkY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DtrEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTSEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataBit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="HandShake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="UIInterval" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="HcSpeed" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="HomeX" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="HomeY" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="TelescopeAxes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NoSyncPastMeridian" serializeAs="String">
                <value>False</value>
            </setting>
        </SimServer.Properties.Server>
    </userSettings>
</configuration>